/*------------------------------------------------------------------------
	ローダー
------------------------------------------------------------------------*/
.js-loading {
  width: 100vw;
  height: 100vh;
  background: $color-main;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.is-loaded {
  opacity: 0;
  visibility: hidden;
}
.c-spinner {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  animation: 1s infinite ease-in-out ani-loading;
}
@keyframes ani-loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// アニメーション
.js-animate {
}

//フェードイン
.js-fade {
  &-in,
  &-in-left,
  &-in-right,
  &-in-down,
  &-in-up {
    opacity: 0;
    &.is-animated {
      animation: 1s ease 0s normal forwards;
    }
  }
  &-in {
    &.is-animated {
      animation-name: ani-fade-in;
    }
  }
  &-in-left {
    &.is-animated {
      animation-name: ani-fade-in-left;
    }
  }
  &-in-right {
    &.is-animated {
      animation-name: ani-fade-in-right;
    }
  }
  &-in-up {
    &.is-animated {
      animation-name: ani-fade-in-up;
    }
  }
  &-in-down {
    &.is-animated {
      animation-name: ani-fade-in-down;
    }
  }
}
@keyframes ani-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani-fade-in-right {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes ani-fade-in-left {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes ani-fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ani-fade-in-down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//グラデュアリーイン
.js-gradually-in {
  &-left,
  &-right,
  &-down,
  &-up,
  &-split-updown {
    position: relative;
    overflow: hidden;
    visibility: hidden;

    &.is-animated {
      visibility: visible;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-main;
        pointer-events: none;
        z-index: 2;
        animation: 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
    }
  }

  &-left {
    &.is-animated {
      &::before {
        animation-name: ani-gradually-in-left;
      }
    }
  }
  &-right {
    &.is-animated {
      &::before {
        animation-name: ani-gradually-in-right;
      }
    }
  }
  &-down {
    &.is-animated {
      &::before {
        animation-name: ani-gradually-in-down;
      }
    }
  }
  &-up {
    &.is-animated {
      &::before {
        animation-name: ani-gradually-in-up;
      }
    }
  }
  &-split-updown {
    &.is-animated {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-main;
        pointer-events: none;
        z-index: 1;
        animation: 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
      &::before {
        animation-name: ani-gradually-in-down;
        left: 0;
        right: 50%;
      }
      &::after {
        animation-name: ani-gradually-in-up;
        left: 50%;
        right: 0;
      }
    }
  }
}

@keyframes ani-gradually-in-left {
  100% {
    transform: translateX(100%);
  }
}
@keyframes ani-gradually-in-right {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes ani-gradually-in-down {
  100% {
    transform: translateY(100%);
  }
}
@keyframes ani-gradually-in-up {
  100% {
    transform: translateY(-100%);
  }
}

//スクロールアロー
@keyframes ani-arrow {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
		transform: translate3d(-50%, 240px, 0);
  }
}
@keyframes ani-arrow-sp {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
		transform: translate3d(-50%, 140px, 0);
  }
}
